*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,body{
    height: 100%;
    width: 100%;
}
::-webkit-scrollbar{
    background-color:transparent;
    width: 1px;

}

body{
    overflow-x:hidden ;
}

@font-face { font-family: TripSans-mono-regular; src: url('./font/TripSansMono-Regular.eot'); } 

@font-face { font-family: TripSans-bold; src: url('./font/TripSans-Bold.eot'); } 

@font-face { font-family: TripSans-regular; src: url('./font/TripSans-Regular.eot'); } 

@font-face { font-family: TripSans-medium; src: url('./font/TripSans-Medium.eot'); } 

#nav{
    height: 95px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 28px;
    justify-content: space-between;
    position: absolute;
    
}

#nav img{
    
    display: flex;
    align-items: center;
    padding-left: 35px;
    margin-bottom: 0;
    justify-content: flex-start;
    transition: 0.3s;
    height: 70px;
}

#nav img:hover{
    filter: drop-shadow(0 0 10px rgba(255, 87, 51, 0.8))
            drop-shadow(0 0 20px rgba(255, 87, 51, 0.5))
            drop-shadow(0 0 30px rgba(255, 87, 51, 0.3));
    scale: 1.1;
  }



#nav_optn h4 a{
    font-family:'TripSans-regular' ;
    font-weight: 400;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    font-family: "Trip Sans", sans-serif;
    font-style: normal;
    opacity: 1;
}




#nav_optn h4 a:hover{
    filter: drop-shadow(0 0 10px rgba(255, 87, 51, 0.8))
            drop-shadow(0 0 20px rgba(255, 87, 51, 0.5))
            drop-shadow(0 0 30px rgba(255, 87, 51, 0.3));
    font-weight: 500;
    text-decoration: none;
}

#nav_optn{
    padding-right: 80px;
    display: flex;
    gap: 140px;
    align-items: center;
    justify-content: flex-end;
    color:white;
    font-weight: 400;
}

.heading h1{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 240px;
    left: 280px;
    align-items: flex-start;
    font-family: "Trip Sans", sans-serif;
    color: white;
    font-size: 4rem;
    font-weight: 800;
    padding-bottom: 30px;
}

.heading-para{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 320px;
    left: 120px;
    color: white;
    font-family: "Trip Sans", sans-serif;
}

.heading-para p{
    font-family: "Trip Sans", sans-serif;
    padding-bottom: 26px;
    opacity: 0.8;
    font-size: 2.4rem;
}

.star:hover{
    filter: drop-shadow(0 0 10px rgba(255, 87, 51, 0.8))
            drop-shadow(0 0 20px rgba(255, 87, 51, 0.5))
            drop-shadow(0 0 30px rgba(255, 87, 51, 0.3));
}


.btn {
    font-family: "Trip Sans", sans-serif;
    cursor: pointer;
    border: 2px solid white;
    background-color: transparent;
    height: 50px;
    width: 230px;
    color: white;
    position: absolute;
    top: 80px;
    left: 430px;
    border-radius: 10px;
    font-size: 28px;
}

.btn:hover{
    filter: drop-shadow(0 0 10px rgba(255, 87, 51, 0.8))
            drop-shadow(0 0 20px rgba(255, 87, 51, 0.5))
            drop-shadow(0 0 30px rgba(255, 87, 51, 0.3));
}

.vid{
display: flex; 
flex-direction: row;
}

.video{
display: inline-block;

position: absolute;
top: 730px;
left: 30px;
height: 740px;
width: 882px;
background-color: #624cab;
border-radius: 40px;
box-shadow: 8px 8px black;
}

.insta_story{
    background-color: orange;
    position: absolute;
    right: 100px;
    height: 400px;
    width: 400px;
    bottom: 100px;
    top: 730px;
    right: 21px;
    border-radius: 40px;
    box-shadow: 8px 8px black;
}

.download{
    left: 69%;
    top: 1164px;
    position: absolute;
    background-color: #FF7340;
    height: 305px;
    width: 390px;
    border-radius: 40px;
    box-shadow: 8px 8px black;
}

.download h3{
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 1.8rem;
    color: white;
    line-height: 40px;
    font-family: "Trip Sans", sans-serif;
}
.download h4{
    font-size: 18px;
    padding-top: 6px;
}
.download .arrow{
    position: absolute;
    top: 30px;
    left: 300px;
}
.download-btn{
    position: absolute;
    top: 160px;
    left: 30px;
    border: none;
    height: auto;
    width: 150px;
    border-radius: 12px;
    padding: 8px;
    box-shadow: 6px 6px black;
}
.download-logo{
    position: absolute;
    top: 150px;
    left: 230px;
}
.download .vector{
    float: left;
}

.video video{
    border-radius: 40px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.insta_story video{
    border-radius: 40px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}




.about{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    min-width: 95vw;
    top: 1550px;
}



.about h2{
    font-family: "Trip Sans", sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
}
.about p{
    font-family: "Trip Sans", sans-serif;
    padding-bottom: 20px;
    text-align: center;
    line-height: 30px;
    word-spacing: 2px;
}
.about-btn{
    cursor: pointer;
    border: 2px solid black;
    background-color: transparent;
    height: 40px;
    width: 180px;
    color: black;
    border-radius: 10px;
    font-size: 22px;
}

.about-btn:hover{
    filter: drop-shadow(0 0 10px rgba(221, 54, 16, 0.8))
    drop-shadow(0 0 20px rgba(221, 255, 25, 0.5))
    drop-shadow(0 0 30px rgba(51, 88, 255, 0.3));
}


.about-features{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.feature-1{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1900px;
    left: 40px;
    font-family: "Trip Sans", sans-serif;
}

.feature-2{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1900px;
    left: 460px;
    font-family: "Trip Sans", sans-serif;
}
.feature-3{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1920px;
    left: 950px;
    font-family: "Trip Sans", sans-serif;
    align-items: center;
}

.about-features h2{
    text-align: center;
    font-size: 1.6rem;
    line-height: 36px
}

.about-features p{
    font-family: "Trip Sans", sans-serif;
    padding-bottom: 20px;
    text-align: center;
    line-height: 26px;
    word-spacing: 2px;
}

.about-ai{
    display: flex;
    position: absolute;
    top: 2150px;
    left: 50px;
    height: 180px;
    width: 93vw;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    font-family: "Trip Sans", sans-serif;
    line-height: 23px;
}
.about-ai h{
    font-weight: 900;
}

.about-ai p{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65px;
    left: 130px;
}

.comments{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2350px;
    left: 50px;
    font-family: "Trip Sans", sans-serif;
    line-height: 40px
}
.comments h2{
    font-size: 1.8rem;
    font-weight: 900;
}
.comments p{
    font-size: 1.2rem;
}

.footer{
    position: absolute;
    top: 3050px;
    left: 50px;
    
}

.contacts{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3050px;
    left: 780px;
    color: white;
    font-family: "Trip Sans", sans-serif;
    font-style: normal;
    font-size: 1.5rem;
    color: black;
}
.contacts h2{
    padding-bottom: 40px;
}
.contacts li{
    padding: 10px;
    opacity: 0.8;
}
.contacts li:hover{
    opacity: 1;
}
.contacts img{
    float: left;
    padding-right: 12px;
} 

.contacts-info{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3050px;
    left: 1050px;
    color: black;
    font-family: "Trip Sans", sans-serif;
    font-style: normal;
    font-size: 1.5rem;
}
.contacts-info h2{
    padding-bottom: 20px;
}
.contacts-info p{
    padding-bottom: 80px;
}

.grid{
    display: grid;
            grid-template-columns:
                repeat(auto-fill, 150px);
            grid-column-gap: 30px;
            grid-row-gap: 30px;
    display: grid;
    top: 383%;
    height: 500px;
    width: 100%;
    position: absolute;
    
}

#grid .card {
    background-color: #ffffff;
    width: 200px;
    height: 200px;
    transition: all 0.1s ease;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    overflow: hidden;
    cursor: pointer;
}



#grid .card:hover {
    transform: scale(2);
    z-index: 2;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

#grid .card:hover img {
    filter: grayscale(0);
}



#grid .card .reflection {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    left: 0;
    top: 0;
    transition: all 0.1s ease;
    opacity: 0;
    mix-blend-mode: soft-light;
}



#grid .card img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    filter: grayscale(0.65);
    transition: all 0.3s ease;
}

.card{
    border-radius: 40px;
    
}

.card1{
    border: 4px solid black;
    top: 15px;
    right: 185px;
}


.card2{
    border: 4px solid black;
    top: 15px;
    right: 440px;
}

.card3{
    border: 4px solid black;
    top: 15px;
    left: 464px;
}

.card4{
    border: 4px solid black;
    top: 15px;
    left: 211px;
}

.card5{
    border: 4px solid black;
    right: 185px;
    top: 275px;
}

.card6{
    border: 4px solid black;
    right: 440px;
    top: 275px;
}

.card7{
    border: 4px solid black;
    top: 275px;
    left: 464px;
}

.card8{
    border: 4px solid black;
    top: 275px;
    left: 211px;
}